# Keil MDK
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.TMP
*.uvgui.*
*.uvguix.*
*.uvopt
/*/MDK/*-Debug/*
/*/MDK/*-Release/*

# IAR EWARM
*.wsdt
*.wspos
*.dep
/*/IAR/settings/*
/*/IAR/*-Debug/*
/*/IAR/*-Release/*
